@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap');

:root {
  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;

  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  --flow-space: 1rem;
}

.grid-container h1 {
  font-size: var(--fs-800);
}
.grid-container h2 {
  font-size: var(--fs-700);
}
.grid-container h3 {
  font-size: var(--fs-500);
}
.grid-container h4 {
  font-size: var(--fs-400);
}
.grid-container h5 {
  font-size: var(--fs-300);
}
.grid-container p {
  font-size: var(--fs-200);
}

@media (min-width: 560px) {
  .grid-container h1 {
    font-size: var(--fs-800);
  }
  .grid-container h2 {
    font-size: var(--fs-700);
  }
  .grid-container h3 {
    font-size: var(--fs-500);
  }
  .grid-container h4 {
    font-size: var(--fs-400);
  }
  .grid-container h5 {
    font-size: var(--fs-300);
  }
  .grid-container p {
    font-size: var(--fs-300);
  }
}

@media (min-width: 1040px) {
  .grid-container h1 {
    font-size: var(--fs-900);
  }
  .grid-container h2 {
    font-size: var(--fs-700);
  }
  .grid-container h3 {
    font-size: var(--fs-600);
  }
  .grid-container h4 {
    font-size: var(--fs-600);
  }
  .grid-container h5 {
    font-size: var(--fs-400);
  }
  .grid-container p {
    font-size: var(--fs-300);
  }
}

.bg-dark { background-color: hsl( var(--color-dark) );}
.bg-light { background-color: hsl( var(--color-light) );}
.bg-white { background-color: hsl( var(--color-white) );}

.text-dark { color: hsl( var(--color-dark) );}
.text-light { color: hsl( var(--color-light) );}
.text-white { color: hsl( var(--color-white) );}

.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
img,
picture {
    margin: 0;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl( var(--color-white) );
  background-color: hsl( var(--color-dark) );
  min-height: 100vh;
  line-height: 1.5;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

.home {
  overflow: hidden;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1.5rem;
  padding-bottom: 4rem;
}

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--destination > picture {
  grid-area: image;
  max-width: 60%;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl( var(--color-white) / .1);
  padding-top: 1.5rem;
  margin-top: 3rem;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.destination-meta p {
  font-size: 1.75rem;
}

.grid-container--crew {
  --flow-space: 2rem;
  padding-bottom: 0;
  grid-template-areas:
      'title'
      'tabs'
      'content'
      'image';
}

.grid-container--crew > picture {
  grid-area: image;
}

.grid-container--crew > picture img {
  align-self: end;
}

.grid-container--crew > .dot-list {
  grid-area: tabs;
}

.grid-container--crew > .crew-info {
  grid-area: content;
}

.crew-info h3 {
  color: hsl( var(--color-white) / .5);
}

.crew-info h2,
.technology-info h2 {
  word-break: break-word;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
  margin-bottom: 2rem;
}

.numbered-title span {
  margin-right: .5em;
  font-weight: 700;
  color: hsl( var(--color-white) / .25);
}

.numbered-title {
  grid-area: title;
}

.circle-number-list {
  flex-direction: row;
}

.circle-number-list > * {
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1;
  background-color: hsl( var(--color-dark) / 1 );
  border: 2px solid hsl( var(--color-white) / 0.2 );
  color: hsl( var(--color-white) / 0.8 );
  cursor: pointer;
  font-weight: 500;
}

.circle-number-list > *:hover,
.circle-number-list > *:focus {
  background-color: hsl( var(--color-dark) / 1 );
  border: 2px solid hsl( var(--color-white) / 0.6 );
  color: hsl( var(--color-white) / 1 );
}

.circle-number-list > [aria-selected="true"] {
  background-color: hsl( var(--color-white) / 1 );
  border: 2px solid hsl( var(--color-white) / 1 );
  color: hsl( var(--color-dark) / 1 );
}

.grid-container--technology {
  --flow-space: 2rem;
  grid-template-rows: 4.5rem auto auto auto;
  grid-template-areas:
      'title'
      'image'
      'tabs'
      'content';
}

.grid-container--technology > picture {
  grid-area: image;
  min-width: calc(100% + 4rem);
}

.grid-container--technology > picture > img {
  min-width: inherit;
  margin-left: -1rem;
}

.grid-container--technology > .circle-number-list {
  grid-area: tabs;
}

.grid-container--technology > .technology-info {
  grid-area: content;
}

.technology-info h3 {
  color: hsl( var(--color-white) / .5);
}

@media (min-width: 560px) {
  .grid-container {
    padding-inline: 3rem;
  }

  .grid-container--home > article,
  .grid-container--destination > article,
  .grid-container--crew > article,
  .grid-container--technology > article {
    max-width: 800px;
    margin-inline: auto;
  }

  .numbered-title {
      justify-self: start;
      margin-top: 2rem;
  }

  .grid-container--destination > picture {
    max-width: 340px;
  }

  .destination-meta {
      flex-direction: row;
      justify-content: space-evenly;
  }

  .grid-container--crew {
      padding-bottom: 0;
      grid-template-areas:
          'title'
          'content'
          'tabs'
          'image';
  }
}

@media (min-width: 1040px) {
  .grid-container {
      text-align: left;
      place-items: start;
      column-gap: var(--container-gap, 2rem);
      grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
    max-width: auto;
  }

  .grid-container--home > *:first-child {
      grid-column: 2;
  }

  .grid-container--home > *:last-child {
      grid-column: 3;
      justify-self: right;
  }

  .grid-container--destination {
      justify-items: start;
      align-content: start;
      grid-column-gap: 4rem;
      grid-template-areas:
          '. title title .'
          '. image tabs .'
          '. image content .';
  }

  .grid-container--destination > picture {
    align-self: center;
    max-width: 100%;
  }

  .grid-container--destination > .tab-list {
    margin-top: 1rem;
  }

  .destination-meta {
      --gap: min(6vw, 6rem);
      justify-content: start;
  }

  .grid-container--crew {
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
    justify-items: start;
    grid-column-gap: 4rem;
    grid-template-areas:
        '. title image .'
        '. content image .'
        '. tabs image .';
  }

  .grid-container--crew > picture {
    grid-column: span 2;
    align-self: end;
  }

  .grid-container--crew > picture .img {
    max-width: 80%;
  }

  .grid-container--technology {
    grid-template-columns: minmax(1rem, 1fr) minmax(4rem, 4rem) minmax(0, 4fr) minmax(0, 4fr);
    grid-template-rows: 3rem auto;
    grid-column-gap: 4rem;
    align-items: center;
    grid-template-areas:
            '. title title .'
            '. tabs content image';
  }

  .grid-container--technology .numbered-title {
    align-self: start;
  }

  .grid-container--technology > picture {
    align-self: right;
    min-width: auto;
  }

  .grid-container--technology > picture > img {
    margin-left: 0;
  }

  .circle-number-list {
    flex-direction: column;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.box {
  background: lightblue;
  padding: 3rem;
}

.container-button {
  position: relative;
}

.large-button {
  position: relative;
  display: inline-grid;
  padding: 0 1em;
  width: 15rem;
  aspect-ratio: 1;
  place-items: center;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1;
  background-position: 0%;
}

.large-button:hover::after,
.large-button:focus::after {
    transform: scale(1.5);
    opacity: 1;
}

.large-button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: hsl( var(--color-white) / .08 );
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 800ms linear,  transform 500ms ease-in-out;
}

.text-underline > * {
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  cursor: pointer;
  border-bottom: 4px solid hsl( var(--color-white) / 0 );
}

.text-underline > *:hover,
.text-underline > *:focus {
  border-bottom: 4px solid hsl( var(--color-white) / .4 );
}

.text-underline > .active,
.text-underline > [aria-selected="true"] {
  border-bottom: 4px solid hsl( var(--color-white) / 1 );
}

.tab-list {
  --gap: 2rem;
}

@media (max-width: 1040px) {
  .tab-list {
      justify-content: center;
  }
}

.tab-list button {
  background: none;
}

.dot-list {
  justify-self: center;
}

.dot-list > * {
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: hsl( var(--color-white) / 0.3 );
  cursor: pointer;
  padding: .5rem;
}

.dot-list > *:hover,
.dot-list > *:focus {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: hsl( var(--color-white) / 0.6 );
}

.dot-list > [aria-selected="true"] {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: hsl( var(--color-white) / 1 );
}

.home {
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
}

.destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
}

.crew {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
}

.technology {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
}

@media (min-width: 560px) {
  .home {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
  .destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
  .crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
  .technology {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 1040px) {
  .home {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }
  .destination {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }
  .crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }
  .technology {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl( var(--color-white) / 0.05);
  backdrop-filter: blur(1.5rem);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: .5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 560px) {
  .primary-navigation {
      --underline-gap: .5rem;
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      list-style: none;
      padding: min(20rem, 15vh) 2rem;
      margin: 0;
      flex-direction: column;
      transition: transform 500ms ease-in-out;
  }

  .mobile-nav-toggle {
      display: block;
      position: absolute;
      z-index: 9999;
      right: 1.5rem;
      top: 2rem;
      background: transparent;
      width: 1.5rem;
      height: 1.5rem;
      border: 0;
      cursor: pointer;
  }
}

@media (min-width: 560px) {
  .primary-navigation {
      padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 560px) and (max-width: 1039.999px) {
  .primary-navigation a > span {
      display: none;
  }
}

@media (min-width: 1040px) {
   .primary-header::after {
       content: '';
       display: block;
       position: relative;
       height: 1px;
       width: 100%;
       margin-right: -2.5rem;
       background: hsl( var(--color-white) / .25);
       order: 1;
   }
  nav {
      order: 2;
  }
  .primary-navigation {
      margin-block: 2rem;
  }
}

.mobile-nav-toggle span {
  display: block;
  width: 1.5rem;
  height: .15rem;
  margin: auto;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .4s ease;
}

.mobile-nav-toggle .top{
    transform: translateY(-8px);
  }

  .mobile-nav-toggle .bottom{
    transform: translateY(8px);
  }

.mobile-nav-toggle.active .top {
  transform: rotate(-45deg);
}

.mobile-nav-toggle.active .mid {
  transform: translateX(-20px) rotate(360deg);
  opacity: 0;
}

.mobile-nav-toggle.active .bottom {
  transform: rotate(45deg);
}

.translateX-enter {
  transform: translateX(-200px);
  opacity: 0;
}

.translateX-enter-active,
.translateX-leave-active {
  transform-origin: top left 0;
  transition: .2s ease;
}

.translateX-leave-to {
  transform: translateX(-200px);
  opacity: 0;
}

.animation1 {
  opacity: 0;
  animation: animation1a 1s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

@keyframes animation1a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation2 {
  opacity: 0;
  animation: animation2a 2s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

@keyframes animation2a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation3 {
  opacity: 0;
  animation: animation3a 1s forwards;
  animation-timing-function: ease-in-out;
  transform: translateX(-40vw);
  animation-delay: 2s;
}

@keyframes animation3a {
  0% {
    opacity: 0;
    transform: translateX(-40vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation4 {
  opacity: 0;
  animation: animation4a 1.5s forwards;
  animation-timing-function: ease-in-out;
  transform: translateY(30vh);
  animation-delay: 3s;
}

@keyframes animation4a {
  0% {
    opacity: 0;
    transform: translateY(30vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation5-rest {
  opacity: 0;
  animation: animation5a 2.5s forwards;
  animation-timing-function: ease-in;
  animation-delay: 4.5s;
}

@keyframes animation5a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation6-menu {
  opacity: 0;
  animation: animation6a 5s forwards;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}

@media (max-width: 560px) {
  .animation6-menu {
    animation-duration: 0s;
  }
}

@keyframes animation6a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-left1 {
  opacity: 0;
  animation: slide-left 0.5s forwards;
  animation-timing-function: ease-in;
  transform: translateX(-40vw);
  animation-delay: 0s;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-40vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-left {
  opacity: 0;
  animation: slide-left 0.5s forwards;
  animation-timing-function: ease-in;
  transform: translateX(-40vw);
  animation-delay: 0.5s;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-40vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-right {
  opacity: 0;
  animation: slide-right 0.5s forwards;
  animation-timing-function: ease-in;
  transform: translateX(-40vw);
  animation-delay: 0.5s;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(40vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
